@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.progress {
  background-color: salmon;
  position: absolute;
  height: 4px;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  z-index: -1;
  width: 100%;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  font-size: 14px;
  height: 30px;
  width: 30px;
  transition: 0.4s ease;
}

.circle.active {
  border-color: salmon;
  color: #111;
}

.btn {
  background-color: salmon;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}
